@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --bright-blue: hsl(245, 75%, 52%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url("images/pattern-background-desktop.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--pale-blue)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 1px var(--pale-blue);
}

.card-media {
    width: 100%;
    height: 100%;
}

.card .card-media img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    text-align: center;
    padding: 25px 45px;
}

.card .card-content .card-content-description {
    font-family: 'Red Hat Display', sans-serif;
}

.card .card-content .card-content-description h3 {
    font-weight: 700;
    line-height: 50px;
    color: var(--dark-blue);
}

.card .card-content .card-content-description p {
    font-size: 13px;
    margin-bottom: 20px;
    color: var(--desaturated-blue);
}

.card-content-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
}

.card-content-plan a {
    color: var(--bright-blue);
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.card-content-plan a:hover {
    color: var(--desaturated-blue);
    text-decoration: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.card-content-plan-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-plan-description img {
    width: 25%;
}

.card-content-plan-description-price {
    text-align: left;
    font-size: 16px;
}

.card-content-plan-description-price h5 {
    color: var(--dark-blue);

}

.card-content-plan-description-price span {
    font-size: 13px !important;
    color: var(--desaturated-blue);
}

.card-content-buttons {
    display: block;
}

.card-content-buttons div {
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--dark-blue);
}

.card-content-buttons .button-pay {
    background-color: var(--bright-blue);
    color: #fff;
    font-weight: 500;
    box-shadow: 0 10px 5px var(--pale-blue);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.card-content-buttons .button-pay:hover {
    background-color: var(--desaturated-blue);
    -webkit-transform: translateY(-1px) scale(1.01);
    transform: translateY(-1px) scale(1.01);
}

.card-footer {
    text-align: center;
    font-size: 12px;
    color: var(--desaturated-blue);
}

@media screen and (max-width: 375px){
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }
}
